#content {
    border: 2px solid #245d52;
    border-radius: 10px;
}
.node-container {
    .node-box {
        fill: #c5ebed;
    }

    .add-node {
        fill: #912b94;
    }
}

.line {
    stroke: #ccc;
}